# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
**/.vscode/*
**/__pycache__/*
*.class
/P/P21/MiPrimerProyectoNetBeanssoso/nbproject/private/
/P/P21/MiPrimerProyectoNetBeanssoso/build/
/P/P22/MiSegundoPrograma/nbproject/private/
/P/P22/MiSegundoPrograma/build/
/P/P23/Maizoro/nbproject/private/
/P/P23/Maizoro/build/
/P/P24/Aplicacion/nbproject/private/
/P/P24/Aplicacion/build/
/BD/Java/BDEjemplo/nbproject/private/
/BD/Java/BDEjemplo/build/
/BD/Java/BDEjemplo/dist/
